#Sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2a2e3e;
    color: #fff;
    transition: all .3s
}

#Sidebar.active {
    margin-left: -250px
}

#Sidebar .Sidebar__header {
    padding: 20px;
    background: #2a2e3e
}

.Sidebar__logotext--small {
    color: #7f7f7f;
    font-size: 16px
}

.Sidebar__logotext--big {
    font-size: 38px
}


@media (max-width: 768px) {
    #Sidebar {
        margin-left: -250px
    }

    #Sidebar.active {
        margin-left: 0
    }
}

